# MySQL (contenedor)
MYSQL_ROOT_PASSWORD=pon_un_root_fuerte
DB_NAME=fibrosis_v07
DB_USER=app
DB_PASS=app123
MYSQL_ONETIME_PASSWORD=0

# Backend (desde host)
DB_HOST=127.0.0.1
DB_PORT=3307

# Seed de cifrado 
ENCRYPTION_KEY=cambia_esta_llave

# Node environment
NODE_ENV=development
HOST_DEV=0.0.0.0
HOST_PROD=0.0.0.0 # Change this to production host IP or domain
