Babel
Bottleneck
Brotli
Jinja2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.4.4
MarkupSafe
Pillow
PyQt5-sip
PyQt5==5.15.7
PySocks
PyYAML
Pygments
Send2Trash
Werkzeug==3.0.0
absl-py==2.0.0
altair==5.5.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow==1.3.0
asttokens
astunparse==1.6.3
async-lru
attrs
backcall
beautifulsoup4
bleach
cachetools==5.3.1
certifi==2023.7.22
cffi
charset-normalizer==3.3.0
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
efficientnet==1.0.0
exceptiongroup
executing
fastjsonschema
flatbuffers==23.5.26
fonttools==4.25.0
fqdn==1.5.1
gast==0.4.0
google-auth-oauthlib==0.4.6
google-auth==2.23.2
google-pasta==0.2.0
grpcio==1.59.0
h11
h2
h5py==3.9.0
hpack
httpcore
httpx
hyperframe
idna==3.4
image-classifiers==1.0.0
imageio==2.31.5
importlib-metadata==6.8.0
importlib-resources
ipykernel
ipython
ipywidgets==8.1.5
isoduration==20.11.0
jedi
joblib
json5
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
jupyter-cjk-xelatex==0.2
jupyter-console==6.6.3
jupyter-events
jupyter-lsp
jupyter==1.1.1
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
keras==2.10.0
kiwisolver
kneed==0.8.5
lazy_loader==0.3
libclang==16.0.6
littleutils
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
munkres==1.1.4
narwhals==1.14.2
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.1
notebook
notebook_shim
numexpr
numpy
oauthlib==3.2.2
opencv-python==4.7.0.68
opt-einsum==3.3.0
outdated
overrides
packaging==23.2
pandas
pandas_flavor
pandocfilters
parso
patsy
pickleshare
pingouin
platformdirs
ply==3.11
prettytable==3.11.0
prometheus-client
prompt-toolkit
protobuf==3.19.6
psutil
pure-eval
pyasn1-modules==0.3.0
pyasn1==0.5.0
pyclustertend==1.0.0
pycparser
pydicom==2.4.3
pyparsing
python-dateutil
python-json-logger
pytz
pyzmq
referencing
requests-oauthlib==1.3.1
requests==2.31.0
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9
scikit-image==0.22.0
scikit-learn
scipy==1.11.1
seaborn
segmentation-models==1.0.1
sip
six
sniffio
soupsieve
stack-data
statsmodels
tabulate
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.10.0
termcolor==2.3.0
terminado
threadpoolctl
tifffile==2023.9.26
tinycss2
toml
tomli
tornado
traitlets
types-python-dateutil==2.9.0.20241003
typing_extensions==4.14.1
tzdata
uri-template==1.3.0
urllib3==2.0.6
wcwidth
webcolors==24.8.0
webencodings==0.5.1
websocket-client
widgetsnbextension==4.0.13
win-inet-pton
wrapt==1.15.0
xarray
zipp==3.17.0
zstandard==0.18.0
