.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-darkest-blue);
    padding: 1rem 2rem;
    height: var(--height-navbar);
}

.container {
    max-width: 1200px;
    margin: var(--height-navbar) auto 2rem;
    padding: 0 1rem;
    text-align: center;
}